<div id="basico">
<p><h1>Bem vindo ao Restaurante amor de mãe!</h1></p>
<p><h2>Restaurante criado por Francisco de Assis e que permanece de pé desde 1897!</h2></p>
<p>Somos especializados em várias coisas, dentre elas temos:
    <ul id="O">
      <li>Sobremesas</li>
      <li>Lanches</li>
      <li>Café da manhã</li>
      <li>Entre muitas outras gostusuras</li>
    </ul>
</p>
<img src="https://img.cybercook.com.br/receitas/114/torrada-de-queijo-no-microondas.png" alt="Torradinha" width="50%" height="25%">
<img src="https://essareceitafunciona.com.br/wp-content/uploads/2022/09/Panqueca-doce-Essa-Receita-Funciona-4.jpg" alt="Panquecas" width="40%" height="40%">
<img src="https://www.minhareceita.com.br/app/uploads/2021/05/shutterstock_1489640750-1.jpg" alt="Hamburguer" width="40%" height="40%">
</div>